<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <!--   <class name="com.guru99.Testcases.TC_003_verify_Add_New_Customer"/>  -->
      <class name="com.guru99.Testcases.MavenBuild"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
